.CalendarDay__selected_span {
    background: #FFC9D5; //background
    color: white; //text
    border-color: transparent;
    &:hover{
      background: #E1E4E8; //background
    }
  }

.CalendarDay__selected {
    background: #F64C72; //background
    color: white; //text
    border-color: transparent;
  }
  .CalendarDay__selected:hover {
    background: #F64C72;
    color: white;
    border-color: transparent;
  }

  .CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: #E1E4E8;
  color:initial;
  border-color: transparent;
}
// .CalendarDay{
//   border-radius: 50%;
 
// }
.SingleDatePicker_picker,.DateRangePicker_picker{
    border-radius: 8px;
    overflow: auto;
    border:1px solid #C9CED6;
    box-shadow: 0 16px 32px 0px rgba(0,0,0,0.05) ;;
    padding:1rem;
    >div{
      box-shadow:none;
    }   
}
.SingleDatePicker_picker__portal{
  z-index: 2;
  display: none!important;
  @media screen and(max-width:640px) {
    display: block!important;
  }
}



.DayPickerNavigation{
  height:3rem;
  font-size: 2rem;
  color:#8B9AA0;
  padding:0rem 1rem;
  box-shadow: 0 -3px 6px 0px rgba(0,0,0,0.05);
  position: absolute;
  z-index: 2;
  bottom: 0;
  background: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  [role='button']{
    &:hover{
      color:#238BB3;
    }
  }

}



//  NEW ONE
.datepicker{
  
  position: relative;
  &:not(.datepicker-shadow):focus-within >  {
    .wrapper{
      display: block;}
      .datepicker-shadow{
        display: block;;
      }
    
    
  }
  .datepicker-shadow{
    position: fixed;
    z-index: -1;
    display: none;
    width: 100%;
    left:0;
    right:0;
    top:0;
    bottom:0;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
  }
.wrapper{
  z-index: 51;;
  display: none;
  position: absolute;
  top:50px;
  @media screen and(max-width:640px) {
    position: fixed;
    top: 50vh;
    transform: translate(-50%,-50%);
    left:50vw;
    box-shadow: 0 32px 80px 0px rgba(0,0,0,0.05);
  }
}
}


