// Variabels

// Default Stuff
// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* ==========================================================================
   VARIABLES
   ========================================================================== */

$transition_navbar: -ms-transform 150ms ease 0s, -webkit-transform 150ms ease 0s,
  transform 150ms ease 0s, opacity 50ms ease 20ms, visibility 0ms ease 150ms,
  top ease 150ms !important;

/* ==========================================================================
   GLOBAL STYLES
   ========================================================================== */

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");

html {
  font-size: 14px;
  @media screen and (min-width: 48em) {
    font-size: 16px;
  }
}

.even-right-align {
  @media screen and (max-width: 768px) {
    > div:nth-child(even) {
      text-align: right;
    }
  }
}

/* ==========================================================================
   PAGES
   ========================================================================== */

.briddgy-faq-grid {
  @media screen and (max-width: 640px) {
    display: block !important;
  }
  grid-column-gap: 3rem;
  color: #02090b;
  grid-row-gap: 2rem;
  font-size: 1.25rem;
  .text-secondary {
    color: #3a4139;
  }
  img {
    margin: 0 auto;
  }
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  ol,
  ul {
    padding-left: 2rem;
  }
}

.landing-header {
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
  // background: url("/static/assets/langin-plane.png"), #32a9d7;
  background: url("/assets/landing_plane.png") no-repeat,
    linear-gradient(
      176deg,
      rgba(92, 178, 205, 1) 0%,
      rgba(27, 106, 136, 1) 100%
    );
  background-size: 50vw, 100% 100%;
  background-position: 90% center, 0%;
  @media screen and (max-width: 1280px) {
    background-position: 90% bottom, 0%;
  }
  @media screen and (max-width: 1024px) {
    background: linear-gradient(
      176deg,
      rgba(92, 178, 205, 1) 0%,
      rgba(27, 106, 136, 1) 100%
    );
  }
  // background: linear-gradient(
  //     135deg,
  //     rgba(50, 169, 215, 0.4374124649859944) 0%,
  //     rgba(255, 255, 255, 0) 100%
  //   ),
  //   linear-gradient(
  //     315deg,
  //     rgba(50, 169, 215, 0.4374124649859944) 0%,
  //     rgba(255, 255, 255, 0) 10%
  //   );

  // // background-size: 100% 100%, 100% 100%;
  // background-position: 0% 0%, 0% 0%;
  // background-size: 100% 100%, 100% 100%;
  // animation: gradient 15s ease infinite;
  // @keyframes gradient {
  //   0% {
  //     background-size: 100% 100%, 100% 100%;
  //   }
  //   50% {
  //     background-size: 150% 150%, 150% 150%;
  //   }
  //   100% {
  //     background-size: 100% 100%, 100% 100%;
  //   }
  // }
}

.order-header {
  .overlay {
    right: -25vw;
    position: absolute;
    bottom: -25vw;
    width: 50vw;
    z-index: 0;

    div {
      border-radius: 50%;
      padding-top: 100%;
      width: 100%;
      // filter: blur(1000px) opacity(56%);
      background-color: white;
    }
  }
}
.chat {
  .chat-room {
    .item {
      position: relative;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      &::before {
        content: "";
        transition: 0.2s ease-in-out;
        display: block;
        position: absolute;
        left: 0;
        height: 100%;
        width: 3px;
      }
    }
  }
  .messages-container {
    overflow-y: auto;
    li {
      margin: 1rem 0;
      &.left {
        .bubble {
          border-bottom-left-radius: 0;
        }
      }
      &.right {
        margin-left: auto;
        justify-content: flex-end;
        .bubble {
          border-bottom-right-radius: 0;
          background-color: #32a9d7;
          color: white;
          small {
            color: lightgray;
          }
        }
      }
    }
  }
}
/* ==========================================================================
    LARGE COMPONENT STYLES 
   ========================================================================== */

.nav-top {
  .form {
    display: none;
  }
  .nav-item {
    &:hover:after {
      opacity: 1;
    }
    &:after {
      float: right;
      transition: 0.1s ease-in;

      opacity: 0;
      width: 100%;
      content: " ";
      height: 3px;
      border-radius: 4px;
      background-color: #32a9d7;
    }
  }
  .nav-item-selected {
    &:after {
      float: right;
      transition: 0.1s ease-in;
      width: 100%;
      content: " ";
      height: 3px;
      border-radius: 4px;
      background-color: #32a9d7;
    }
  }
}

#travel-navbar {
  position: sticky;
  position: -webkit-sticky;
  background-color: #32a9d7;
  top: -1px; /* required */
  transition: $transition_navbar;
  width: 100%;
  z-index: 2;
  #add_order_form {
    display: none;
  }

  .overlay {
    left: 0px;
    position: absolute;
    text-align: left;
    top: 100px;
    width: 100%;
    z-index: 2;
    transition: $transition_navbar;
  }
  #navbar_search_order {
    visibility: hidden;
    opacity: 0;
    transition: $transition_navbar;
  }
  #add_travel_form {
    margin: 0px auto;
    max-width: 1024px;
    color: #3a4139;
  }
  .nav-top {
    transition: all ease 150ms 0s;
    color: white;
    border: none;
    max-width: 1400px;
    height: 400px;
    max-height: 80px;
    margin: 0 auto;
    z-index: 2;
    font-weight: 700;
    > div {
      height: 80px;
    }
    #order_navigation {
      display: none;
    }
    .form {
      display: block;
    }

    .navbar-profile-menu span {
      color: initial;
    }
    #create_order {
      button {
        background: white;
        color: #02090b;
      }
    }
    #create_trip {
      display: none;
    }
  }

  // If Sticky

  &.isSticky {
    transform: translate3d(0px, 0px, 0px);
    background-color: white;
    #create_order {
      button {
        background: #238bb3;
        color: white;
      }
    }
    #navbar_search_order {
      visibility: visible;
      opacity: 1;
    }
    .overlay {
      opacity: 0;
      transform-origin: 50% 0%;
      transform: scale(0.35, 0.727273) translateY(-58px);
    }
    #expanded {
      @media screen and (max-width: 768px) {
        max-height: 380px;
      }
      max-height: 200px;
      > div {
        height: 80px;
      }
      #create_order {
        background: initial;
        color: #333333;
      }
      #navbar_search_order {
        visibility: hidden;
        opacity: 0;
      }
      .overlay {
        opacity: 1;
        transform: none;
      }
    }
    .nav-top {
      color: #333333;
    }
  }
}

#order-navbar {
  position: sticky;
  position: -webkit-sticky;
  background: #32a9d7;
  top: -1px; /* required */
  transition: $transition_navbar;
  width: 100%;
  z-index: 100;
  .overlay {
    left: 0px;
    position: absolute;
    text-align: left;
    top: 100px;
    width: 100%;
    z-index: 2;
    transition: $transition_navbar;
  }
  #navbar_search_order {
    visibility: hidden;
    opacity: 0;
    transition: $transition_navbar;
  }
  #add_order_form {
    margin: 0px auto;
    max-width: 1024px;
    color: #3a4139;
  }
  .nav-top {
    transition: all ease 150ms 0s;
    color: white;
    border: none;
    max-width: 1400px;
    height: 200px;
    @media screen and (max-width: 768px) {
      height: 260px;
    }
    max-height: 80px;
    > div {
      height: 80px;
    }
    margin: 0 auto;
    z-index: 2;
    font-weight: 700;
    #trip_navigation {
      display: none;
    }
    form {
      display: block;
    }

    .navbar-profile-menu span {
      color: initial;
    }

    #create_order {
      display: none;
    }
    #create_trip {
      p {
        svg {
          color: white;
        }
        span {
          background-color: white;
          background-image: unset;
        }
      }
    }
  }

  // If Sticky

  &.isSticky {
    background-color: white;
    transform: translate3d(0px, 0px, 0px);
    #navbar_search_order {
      visibility: visible;
      opacity: 1;
    }
    #create_trip {
      button {
        background: #238bb3;
        color: white;
      }
      p {
        svg {
          color: #f64c72;
        }
        span {
          background-image: linear-gradient(to right, #f64c72, #f08e38);
        }
      }
    }
    .overlay {
      opacity: 0;
      transform-origin: 50% 0%;
      transform: scale(0.35, 0.727273) translateY(-58px);
    }
    #expanded {
      max-height: 260px;

      #navbar_search_order {
        visibility: hidden;
        opacity: 0;
      }
      .overlay {
        opacity: 1;
        transform: none;
      }
    }
    .nav-top {
      color: #02090b;
    }
  }
}

/* ==========================================================================
   SMALL COMPONENT STYLES
   ========================================================================== */
.travel-destination-card {
  img {
    transition: all 500ms ease 0s !important;
  }
  &:hover img {
    transform: scale(1.1);
  }
}

.tabs {
  position: relative;
  list-style: none;
  > button:first-child[aria-selected="true"] ~ .presentation-slider {
    transform: translateX(0) scaleX(calc(1 / var(--count)));
  }
  > button:nth-child(2)[aria-selected="true"] ~ .presentation-slider {
    transform: translateX(calc(100% / var(--count)))
      scaleX(calc(1 / var(--count)));
  }
  > button:nth-child(3)[aria-selected="true"] ~ .presentation-slider {
    transform: translateX(calc(100% / var(--count) * 2))
      scaleX(calc(1 / var(--count)));
  }
  > button:nth-child(4)[aria-selected="true"] ~ .presentation-slider {
    transform: translateX(calc(100% / var(--count) * 3))
      scaleX(calc(1 / var(--count)));
  }
  > button:nth-child(5)[aria-selected="true"] ~ .presentation-slider {
    transform: translateX(calc(100% / var(--count) * 4))
      scaleX(calc(1 / var(--count)));
  }
  .presentation-slider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #32a9d7;
    transform-origin: 0 0;
    transition: transform 0.2s;
  }
}
.autocomplete {
  width: 100%;
  &:focus-within > div {
    display: block;
  }
  .flag-autocomplete {
    height: 15px;
    width: 20px;
    text-align: center;
    margin-left: auto;
    border-radius: 2px;
    overflow: hidden;
  }
}
.options-autocomplete {
  position: absolute;
  min-width: 300px;
  min-height: 50px;
  top: 100%;
  transition: 0.2s ease-in-out;
  display: none;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 9999;
  left: 0;
  outline: none;

  > button {
    outline: none;
    min-height: 60px;

    line-height: 60px;
    width: 100%;
    text-align: left;
    padding: 0 8px;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:hover {
      background-color: #f9f9f9;
    }
    svg:first-child {
      color: #7b7b7b;
      display: inline-block;
      margin-right: 0.75rem;
    }
    h5 {
      display: inline-block;
    }
  }
}

.link-overlay {
  position: static !important;

  &:before {
    content: "";
    cursor: inherit;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
  }
}
.blog-post {
  .gatsby-image-wrapper {
    border-radius: 10px;
  }
}

.testimonial {
}

.steps {
  .step {
    > div {
      padding: 0 1rem;
    }
  }

  .slider {
    height: 3px;
    top: calc(20% - 1px);
    width: 100%;
    div {
      transform-origin: left;
      transform: scaleX(calc(var(--selected) / var(--count)));
      transition: 1s ease-in-out;
    }
  }
}
.steps-vertical {
  flex-direction: column;

  .step {
    margin-bottom: 3rem;
    display: flex;
    align-items: flex-start;
    > div:first-child {
      margin-right: 1rem;
    }
    > div {
      padding: 0.5rem 0rem;
    }
  }
  .step:last-child {
    margin-bottom: 0px;
    align-items: flex-end;
  }
  .slider {
    width: 3px;
    height: 100%;
    left: 1.25rem;
    div {
      transform-origin: top;
      transform: scaleY(calc(var(--selected) / var(--count)));
      transition: 1s ease-in-out;
    }
  }
}

.contract-steps {
  position: relative;
  > div {
    text-align: center;
    width: calc(100% / var(--count));
  }
  > li {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 !important;
    width: 100%;
    list-style-type: none;
    border-radius: 4px;
    height: 3px;
    background-color: #5cb2cd;
    transform-origin: left;
    transition: 0.2s ease-in-out;
    transform: scaleX(calc(1 / var(--count) * var(--step)));
  }
}

.notification {
  &:focus-within > div {
    display: block;
  }
  .list {
    position: absolute;
    transition: 0.3s ease-in-out all;
    width: 350px;
    max-width: 100vw;
    min-height: 50px;
    top: 100%;
    right: -30px;
    transition: 0.2s ease-in-out;
    display: none;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 9999;

    outline: none;
  }
}

/* ==========================================================================
   FEATURES 
   ========================================================================== */
.clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.full-width {
  width: 100% !important;
}
.scrollbar {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 4px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #1a2936;

    background-image: -webkit-gradient(
      linear,
      0 0,
      0 100%,
      color-stop(0.5, #1a2936),
      color-stop(0.5, transparent),
      to(transparent)
    );
  }
}

#top-progress {
  width: 100%;
  height: 3px;
  background: #e1e4e8;
  border-radius: 3px;
  overflow: hidden;
  .progress-bar {
    display: block;
    height: 100%;
    background: linear-gradient(
      90deg,
      #f4b248,
      #566ff9 17%,
      #f64c72 34%,
      #01feff 51%,
      #f4b248 68%,
      #566ff9 85%,
      #f64c72
    );
    background-size: 300% 100%;
    animation: progress-animation 2s linear infinite;
  }
  @keyframes progress-animation {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: 0;
    }
  }
}

.typewriter {
  display: inline-flex;
}
.typewriter > span {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.05em solid rgba(255, 255, 255, 0.5); /* The typwriter cursor */
  padding-right: 5px;
  display: inline-block;
  animation: blink-caret 0.75s infinite;
  white-space: nowrap; /* Keeps the content on a single line */
  /* Gives that scrolling effect as the typing happens */
  /* Adjust as needed */
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(255, 255, 255, 0.5);
  }
}
