// Default Stuff
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.travel-destination-card {
  img {
    transition: all 500ms ease 0s !important;
  }
  &:hover img {
    transform: scale(1.1);
  }
}

.autocomplete {
  width: 100%;
  &:focus-within > div {
    display: block;
  }
}
.datepicker {
}
.options-autocomplete {
  position: absolute;
  min-width: 200px;
  min-height: 50px;
  top: 100%;
  transition: 0.2s ease-in-out;
  display: none;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 9999;
  left: 0;
  outline: none;

  > button {
    outline: none;
    min-height: 60px;
    line-height: 60px;
    width: 100%;
    text-align: left;
    padding: 0 8px;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:hover {
      background-color: #f9f9f9;
    }
    svg {
      color: #7b7b7b;
      display: inline-block;
      margin-right: 0.75rem;
    }
    h5 {
      display: inline-block;
    }
  }
}

// Telephone Input
